body {
    font-size:150%;
}

.container {
  width: 92%;
}

#wrap {
    padding-top: 0px;
}

#main {
    min-height: 520px;
}

.control-group .help-block {
    margin-bottom: 30px;
}

#main .action {
    margin-top: 0px;
}

.navbar-inner {
  background-color: #fff;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .nav > li > a {
    font-size: 16px;

}
.navbar .nav > li {
    line-height: 40px;
}

.navbar .nav > li.active > a, .navbar .nav > li.active > a:hover, .navbar .nav > li.active > a:focus {
  color: red;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  color: red;
}

.navbar .nav > li.active > a, .navbar .nav > li.active {
  background-color: transparent;
}
