body {
    font-size:150%;
}

.container {
  width: 92%;
}

#wrap {
    padding-top: 0px;
}

#main {
    min-height: 520px;
}

.control-group .help-block {
    margin-bottom: 30px;
}

#main .action {
    margin-top: 0px;
}

#footer {
    background-color: #fff;    
    min-height: 3em;
}

.credit {
    text-align: center;
    margin: 0;
    line-height: 3em !important;
}

.jumbotron {
margin: 0px 0;
}

.navbar-inner {
  background-color: #fff;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .nav > li > a {
    font-size: 16px;

}
.navbar .nav > li {
    line-height: 40px;
}

.navbar .nav > li.active > a, .navbar .nav > li.active > a:hover, .navbar .nav > li.active > a:focus {
  color: red;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  color: red;
}

#uc-first-char{
    text-transform:capitalize;
}

.input-group .form-control:last-child, .input-group-addon-white:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child) {
  background-color: white;
}

.popover-content {
  min-width: 280px;
}

.navbar .nav > li.active > a, .navbar .nav > li.active {
  background-color: transparent;
}


.bs-callout {
margin: 0px 0;
padding: 3px 0px 3px 15px;
border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
