.navbar .nav > li > a:hover {
color: red;
text-decoration: none;
background-color: transparent;
}

#mainNavBar {
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  max-height: 63px;
}

.container {
  max-width: 100%;
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.mainContainer {
  padding: 0px 20px 0px 20px;
}

.content {
  margin-top: 0px;
}

#footer {
  height: 30px;
  padding: 15px;
}

#footer .container {
  padding: 0px 0px 0px 0px;
}

#cityLoading {
	display:none;
}

#potentialAttractionLoading {
	display:none;	
}