<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />    
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />    
    <meta name="fragment" content="!">
    <title>MeteorTravel</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
    <div class="container">
        <div class="row-fluid">
            {{> header}}

            <div id="wrap">
                <div class="container-fluid">
                    <div class="row">
                        <div id="main" class="col-lg-12 col-12 mainContainer">
                            {{renderPage}}
                        </div>
                    </div>
                </div>
                <div id="spacer"></div>
            </div>
        </div>
    </div>
</body>
