<template name="what">
    <div class="content" style="margin-left: 20px;">
        <h2>What is Meteor Travel?</h2>
        <p>Meteor Travel is a clone of <a href="http://mywanderlust.co/">http://mywanderlust.co/</a> built in less than 1 hour.</p>
        <hr>
        <h2>Why build this?</h2>
        <p>To showcase the speed of development and simplicity that Meteor bring to building real-time web apps!</p>
        <hr>
        <h2>Can I clone this?</h2>
        <p>Yes. This project is open-sourced on GitHub: <a href="https://github.com/andreioprisan/meteor-travel">https://github.com/andreioprisan/meteor-travel</a>. Play with it as you see fit.</p>
    </div>
</template>